<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Gallery</title>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">
   <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <!-- IIIF image -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://rawgit.com/heyman/leaflet-areaselect/master/src/leaflet-areaselect.css" />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <script src="https://cdn.rawgit.com/mejackreed/Leaflet-IIIF/v1.2.2/leaflet-iiif.js"></script>
  <script src="https://cdn.rawgit.com/heyman/leaflet-areaselect/da8905695db78354ddd5b5d9de6ef13699b9d7a7/src/leaflet-areaselect.js"></script>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='stylesheets/gallery.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</head>


<body>
	{% set base_iiif_url = request.host_url[:-1] + ':81/loris/' %}
	{% set direct = pic.path.replace('/var/www/testiiif/mnt/rdf/jcm10/crc_summer_dev/inputs/','') %}
	<form method="POST" id="cropForm">
    	{{cropForm.coor()}}
    	{{cropForm.submitCoor(_class="btn btn-outline-secondary")}}
	</form>
	<div id="map"></div>
	<script src="{{ url_for('static', filename='scripts/app.js') }}">
	</script>
	<script type="text/javascript">
    	addImage("{{ base_iiif_url + direct }}");
	</script>
</body>
</html>




