{% extends 'base.html' %}

{% block content %}
{% set base_iiif_url = request.host_url[:-1] + ':81/loris/' %}

{% set direct = pic.path.replace('/var/www/testiiif/mnt/rdf/jcm10/crc_summer_dev/hi/','') %}
<!--           <img src="{{ pic.path.replace(basedir, '') }}" alt="could not find pictures" height="800" width="800"> -->
{% set iiif_pic = base_iiif_url + direct + pic.region + '/,900' + pic.rotation + pic.quality  + 'jpg'  %}


  <div class="HolyGrail-body">
    <main class="HolyGrail-content">
      <div class="album py-5 bg-light">
        <div class="container">
          {% include 'edit_menu.html' %}
          <img src='{{ iiif_pic }}' alt="could not find pictures">
          <!--<div id="map"></div>
          <div id="urlArea"></div>
          <script src="{{ url_for('static', filename='scripts/app.js') }}">
          </script>
          <script type="text/javascript">
            addImage("{{ base_iiif_url + pic.name }}");
          </script>-->
        </div>
      </div>
    </main>


    <aside class="HolyGrail-ads" style="width:70px; background:rgb(229, 231, 233)  ">
      {% include 'metadata.html' %}
    </aside>


  </div>
{% endblock %}



